flows.json
[{"id":"7c72b9dbeb8a3a1c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9b3c586ab670ac30","type":"debug","z":"7c72b9dbeb8a3a1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":330,"y":820,"wires":[]},{"id":"c47f798fdaf3331c","type":"chatbot-extend","z":"7c72b9dbeb8a3a1c","codeJs":"\n// node.chat.onStart(function() {\n//   var chatServer = this;\n//   var options = chatServer.getOptions();\n//   //options.connector = new DialogBotSDK.Bot(options.token);\n//   //options.connector.onMessage(function(peer, message) {  \n//     chatServer.receive('vaiiii');\n//   //});\n//   return true;    \n// });\n\n\n\n\n//node.chat.onChatId(message => msg.payload.chatId?message.payload.chatId:message.originalMessage.payload.data.chatId);\n//node.chat.onMessageId(message => msg.payload.id?message.payload.id:message.originalMessage.payload.data.id);\n//node.chat.onUserId(message => msg.payload.chatId?message.payload.chatId:message.originalMessage.payload.data.chatId);\n\n\n\nnode.chat.onChatId(message => message.payload.data.from);\nnode.chat.onMessageId(message => message.payload.data.id);\nnode.chat.onUserId(message => message.payload.data.from);\n\n\n\n\nnode.chat.in(message => {\n return new Promise((resolve, reject) => {\n \n  message.payload.type  = 'message';\n  resolve(message);\n });\n});\n\n\nnode.chat.out('message', message => {\n return new Promise((resolve, reject) => {\n    // message.originalMessage.userId  = \n     message.originalMessage = message.originalMessage;\n    resolve(message.payload);\n });\n});\n\n\n\n\n\n","platform":"universal","noerr":0,"x":130,"y":1320,"wires":[]},{"id":"8bbc4ac4a67e2ef0","type":"chatbot-universal-receive","z":"7c72b9dbeb8a3a1c","bot":"d690696a9cdeee30","botProduction":"d690696a9cdeee30","x":470,"y":1120,"wires":[["cd788b5c08b1014b"]],"info":"Reecebe"},{"id":"cd788b5c08b1014b","type":"function","z":"7c72b9dbeb8a3a1c","name":"","func":"\n//var chatId = msg.payload.chatId || (sentMessage && sentMessage.chatId);\n// console.log('mensagem enviado por',msg.payload)\n// console.log('mensagem enviado por',msg.payload.chatId)\n\nconsole.log('msg.chatmsg.chatmsg.chat',msg.chat)\n\n\nvar payload = {};\nvar chatId = msg.originalMessage.payload.data.chatId;\nvar userId = msg.originalMessage.payload.data.chatId;\npayload.chat = msg.chat;\npayload.userId = userId;\n\npayload.headers = {\n\"Accept\":\"*\",\n\"Content-Type\": \"application/json\"\n}\n\n\npayload.payload = {\n    args: {\n     \"to\":msg.originalMessage.payload.data.chatId,\n    \"content\": \"Olá! qual o seu email?\"\n  }\n}\npayload.originalMessage = msg.originalMessage.payload;\n\nreturn payload; \n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":1160,"wires":[["da602fac5e40cee0","83a08e49c17ef752"]]},{"id":"da602fac5e40cee0","type":"http request","z":"7c72b9dbeb8a3a1c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://wa-api-mega.herokuapp.com/sendText","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":1240,"wires":[["e840827aaa5b54fa"]]},{"id":"9a0f62591011de83","type":"http in","z":"7c72b9dbeb8a3a1c","name":"","url":"/wa","method":"post","upload":false,"swaggerDoc":"","x":80,"y":900,"wires":[["9b3c586ab670ac30","5fda3171d78d5fb1","742801de9570f937"]]},{"id":"5fda3171d78d5fb1","type":"http response","z":"7c72b9dbeb8a3a1c","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":100,"y":1040,"wires":[]},{"id":"79c74d0644e481b9","type":"chatbot-universal-send","z":"7c72b9dbeb8a3a1c","bot":"d690696a9cdeee30","botProduction":"d690696a9cdeee30","track":true,"passThrough":false,"x":890,"y":1420,"wires":[["7f7ab537ebd122d7","050db8671254170a"]]},{"id":"b95369a8aff8d867","type":"function","z":"7c72b9dbeb8a3a1c","name":"","func":"\n//var chatId = msg.payload.chatId || (originalMessage && originalMessage.chat.id);\n//console.log('last',msg)\n\nvar teste = {};\n//var chatId = msg.payload.chatId;\n//var userId = msg.payload.from;\n// var content = msg.payload.content;\nteste.chat = msg.chat;\n// content.userId = userId;\n// teste.content = content;\n//teste.userId = userId;\nteste.headers = {\n\"Accept\":\"*\",\n\"Content-Type\": \"application/json\"\n}\n\nif(msg.payload != undefined && msg.payload.chatId != undefined){\n    teste.payload = {\n    args: {\n    //\"to\": msg.payload.from,\n     \"to\": msg.payload.chatId,\n    \"content\": \"informe um email válido\"\n  }\n}\nteste.originalMessage = msg.originalMessage;\n\n\nreturn teste; \n\n}\n\n//teste.payload.content = msg.originalMessage.payload;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":1620,"wires":[["8481c6487c8a4df2"]]},{"id":"8481c6487c8a4df2","type":"http request","z":"7c72b9dbeb8a3a1c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://wa-api-mega.herokuapp.com/sendText","tls":"","persist":false,"proxy":"","authType":"","x":910,"y":1700,"wires":[["2d887a17118c5dcf","cd788b5c08b1014b"]]},{"id":"e5177b03e2ccb361","type":"inject","z":"7c72b9dbeb8a3a1c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"data\":{\"id\":\"false_555184066727@c.us_3EB061E6DE475B0CE5FE\",\"body\":\"asd\",\"type\":\"chat\",\"t\":1634859090,\"notifyName\":\"\",\"from\":\"555184066727@c.us\",\"to\":\"555193378216@c.us\",\"self\":\"in\",\"ack\":0,\"invis\":false,\"isNewMsg\":true,\"star\":false,\"recvFresh\":true,\"isFromTemplate\":false,\"broadcast\":false,\"quotedMsg\":null,\"mentionedJidList\":[],\"isVcardOverMmsDocument\":false,\"isForwarded\":false,\"labels\":[],\"ephemeralOutOfSync\":false,\"productHeaderImageRejected\":false,\"isDynamicReplyButtonsMsg\":false,\"isMdHistoryMsg\":false,\"requiresDirectConnection\":false,\"fromMe\":false,\"sender\":{\"id\":\"555184066727@c.us\",\"pushname\":\"Luan Garcia\",\"type\":\"in\",\"isBusiness\":false,\"isEnterprise\":false,\"statusMute\":false,\"labels\":[],\"disappearingModeDuration\":0,\"disappearingModeSettingTimestamp\":0,\"formattedName\":\"+55 51 8406-6727\",\"isMe\":false,\"isMyContact\":false,\"isPSA\":false,\"isUser\":true,\"isWAContact\":true,\"profilePicThumbObj\":{\"eurl\":\"https://pps.whatsapp.net/v/t61.24694-24/55964155_315957072453364_7914606329652576256_n.jpg?ccb=11-4&oh=d179506d22f2c37e113ec7dcffaa6523&oe=6176284D\",\"id\":\"555184066727@c.us\",\"img\":\"https://web.whatsapp.com/pp?e=https%3A%2F%2Fpps.whatsapp.net%2Fv%2Ft61.24694-24%2F55964155_315957072453364_7914606329652576256_n.jpg%3Fccb%3D11-4%26oh%3Dd179506d22f2c37e113ec7dcffaa6523%26oe%3D6176284D&t=s&u=555184066727%40c.us&i=1517790479&n=s6LEzJ0A6gym7vvzEXLUglYEwLcZBFLq%2BIcuxqK5BCc%3D\",\"imgFull\":\"https://web.whatsapp.com/pp?e=https%3A%2F%2Fpps.whatsapp.net%2Fv%2Ft61.24694-24%2F55964155_315957072453364_7914606329652576256_n.jpg%3Fccb%3D11-4%26oh%3Dd179506d22f2c37e113ec7dcffaa6523%26oe%3D6176284D&t=l&u=555184066727%40c.us&i=1517790479&n=s6LEzJ0A6gym7vvzEXLUglYEwLcZBFLq%2BIcuxqK5BCc%3D\",\"raw\":null,\"tag\":\"1517790479\"},\"msgs\":null},\"timestamp\":1634859090,\"content\":\"asd\",\"isGroupMsg\":false,\"isMedia\":false,\"isNotification\":false,\"isPSA\":false,\"chat\":{\"id\":\"555184066727@c.us\",\"pendingMsgs\":false,\"lastReceivedKey\":{\"fromMe\":false,\"remote\":\"555184066727@c.us\",\"id\":\"3EB0C54E71759F74F88E\",\"_serialized\":\"false_555184066727@c.us_3EB0C54E71759F74F88E\"},\"t\":1634858855,\"unreadCount\":4,\"archive\":false,\"isReadOnly\":false,\"modifyTag\":854859,\"muteExpiration\":0,\"notSpam\":true,\"pin\":0,\"ephemeralDuration\":0,\"ephemeralSettingTimestamp\":0,\"hasUnreadMention\":false,\"archiveAtMentionViewedInDrawer\":false,\"hasChatBeenOpened\":false,\"msgs\":null,\"kind\":\"chat\",\"canSend\":true,\"isGroup\":false,\"formattedTitle\":\"+55 51 8406-6727\",\"contact\":{\"id\":\"555184066727@c.us\",\"pushname\":\"Luan Garcia\",\"type\":\"in\",\"isBusiness\":false,\"isEnterprise\":false,\"statusMute\":false,\"labels\":[],\"disappearingModeDuration\":0,\"disappearingModeSettingTimestamp\":0,\"formattedName\":\"+55 51 8406-6727\",\"isMe\":false,\"isMyContact\":false,\"isPSA\":false,\"isUser\":true,\"isWAContact\":true,\"profilePicThumbObj\":{\"eurl\":\"https://pps.whatsapp.net/v/t61.24694-24/55964155_315957072453364_7914606329652576256_n.jpg?ccb=11-4&oh=d179506d22f2c37e113ec7dcffaa6523&oe=6176284D\",\"id\":\"555184066727@c.us\",\"img\":\"https://web.whatsapp.com/pp?e=https%3A%2F%2Fpps.whatsapp.net%2Fv%2Ft61.24694-24%2F55964155_315957072453364_7914606329652576256_n.jpg%3Fccb%3D11-4%26oh%3Dd179506d22f2c37e113ec7dcffaa6523%26oe%3D6176284D&t=s&u=555184066727%40c.us&i=1517790479&n=s6LEzJ0A6gym7vvzEXLUglYEwLcZBFLq%2BIcuxqK5BCc%3D\",\"imgFull\":\"https://web.whatsapp.com/pp?e=https%3A%2F%2Fpps.whatsapp.net%2Fv%2Ft61.24694-24%2F55964155_315957072453364_7914606329652576256_n.jpg%3Fccb%3D11-4%26oh%3Dd179506d22f2c37e113ec7dcffaa6523%26oe%3D6176284D&t=l&u=555184066727%40c.us&i=1517790479&n=s6LEzJ0A6gym7vvzEXLUglYEwLcZBFLq%2BIcuxqK5BCc%3D\",\"raw\":null,\"tag\":\"1517790479\"},\"msgs\":null},\"groupMetadata\":null,\"presence\":{\"id\":\"555184066727@c.us\",\"chatstates\":[]},\"isOnline\":true,\"participantsCount\":1},\"isOnline\":true,\"chatId\":\"555184066727@c.us\",\"quotedMsgObj\":null,\"mediaData\":{}}}","payloadType":"json","x":110,"y":1100,"wires":[["742801de9570f937","9b3c586ab670ac30"]]},{"id":"7f7ab537ebd122d7","type":"debug","z":"7c72b9dbeb8a3a1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1110,"y":1360,"wires":[]},{"id":"e840827aaa5b54fa","type":"change","z":"7c72b9dbeb8a3a1c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"originalMessage","tot":"msg"},{"t":"set","p":"userEmail","pt":"global","to":"originalMessage.body","tot":"msg"},{"t":"set","p":"userMa","pt":"flow","to":"originalMessage.body","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":1320,"wires":[["79c74d0644e481b9","e6527bbe2445335c"]]},{"id":"e6527bbe2445335c","type":"debug","z":"7c72b9dbeb8a3a1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1090,"y":1260,"wires":[]},{"id":"2d887a17118c5dcf","type":"debug","z":"7c72b9dbeb8a3a1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1050,"y":1800,"wires":[]},{"id":"83a08e49c17ef752","type":"debug","z":"7c72b9dbeb8a3a1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":1080,"wires":[]},{"id":"050db8671254170a","type":"switch","z":"7c72b9dbeb8a3a1c","name":"validaEmail","property":"originalMessage.payload.data.body","propertyType":"msg","rules":[{"t":"regex","v":"^\\w+([\\.-]?\\w+)*@\\w+([\\.-]?\\w+)*(\\.\\w{2,3})+$","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":910,"y":1520,"wires":[["2c7b917c557aa9b2"],["b95369a8aff8d867"]]},{"id":"2c7b917c557aa9b2","type":"function","z":"7c72b9dbeb8a3a1c","name":"","func":"\n//var chatId = msg.payload.chatId || (originalMessage && originalMessage.chat.id);\n//console.log('sucessp',msg)\n\nvar request = {};\nvar chatId = msg.payload.chatId;\nvar userId = msg.payload.chatId;\n// var content = msg.payload.content;\nrequest.chat = msg.chat;\n// content.userId = userId;\n// teste.content = content;\nrequest.userId = userId;\nrequest.headers = {\n\"Accept\":\"*\",\n\"Content-Type\": \"application/json\"\n}\n\n\n//teste.payload.content = msg.originalMessage.payload;\n// payload.payload = {\n//     args: {\n//     //\"to\": msg.payload.from,\n//      \"to\": msg.payload.chatId,\n//     \"content\": \"Legal\"\n//   }\n// }\n\n\nrequest.payload = {\n  \"args\": {\n    \"to\": msg.payload.chatId,\n    \"body\": \"Bem vindo ao Menu Principal, qual tipo de solução vc precisa?\",\n    \"buttons\": [{\"id\":\"residencial\",\"text\":\"Residencial\"},{\"id\":\"empresarial\",\"text\":\"Empresarial\"}],\n    \"title\": \"Menu de Serviços\"\n  }\n}\n\n\n//request.originalMessage = msg.originalMessage;\nrequest.originalMessage = msg.originalMessage.payload;\n//payload.originalMessage.userEmail = msg.originalMessage.payload.body;\nreturn request; \n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1300,"y":1440,"wires":[["704603486becb913"]]},{"id":"704603486becb913","type":"http request","z":"7c72b9dbeb8a3a1c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://wa-api-mega.herokuapp.com/sendButtons","tls":"","persist":false,"proxy":"","authType":"","x":1310,"y":1520,"wires":[["437ad32996366251","ae55654a09c6dc85"]]},{"id":"437ad32996366251","type":"debug","z":"7c72b9dbeb8a3a1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1470,"y":1480,"wires":[]},{"id":"2b3f9e0aee0e1fc6","type":"chatbot-universal-send","z":"7c72b9dbeb8a3a1c","bot":"d690696a9cdeee30","botProduction":"d690696a9cdeee30","track":true,"passThrough":false,"x":1330,"y":1660,"wires":[["3f1605992b801b06"]]},{"id":"3f1605992b801b06","type":"switch","z":"7c72b9dbeb8a3a1c","name":"validaServico","property":"originalMessage.payload.data.body","propertyType":"msg","rules":[{"t":"eq","v":"Empresarial","vt":"str"},{"t":"eq","v":"Residencial","vt":"str"},{"t":"else"}],"checkall":"false","repair":true,"outputs":3,"x":1310,"y":1740,"wires":[["5894a969c60fe444"],["f2cd4fc3c60857f0"],["6eb956a3229a6466"]]},{"id":"5894a969c60fe444","type":"function","z":"7c72b9dbeb8a3a1c","name":"","func":"\n//var chatId = msg.payload.chatId || (originalMessage && originalMessage.chat.id);\n//console.log('last',msg)\n\nvar teste = {};\n//var chatId = msg.payload.chatId;\n//var userId = msg.payload.from;\n// var content = msg.payload.content;\nteste.chat = msg.chat;\n// content.userId = userId;\n// teste.content = content;\n//teste.userId = userId;\nteste.headers = {\n\"Accept\":\"*\",\n\"Content-Type\": \"application/json\"\n}\n\nif(msg.payload != undefined && msg.payload.chatId != undefined){\n    teste.payload = {\n    args: {\n    //\"to\": msg.payload.from,\n     \"to\": msg.payload.chatId,\n    \"content\": \"legal vc escolheu empresarial, deixa eu ver alguma oferta\"\n  }\n}\nteste.originalMessage = msg.originalMessage;\n\n\nreturn teste; \n\n}\n\n//teste.payload.content = msg.originalMessage.payload;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":1680,"wires":[["25d67c111d28f652"]]},{"id":"25d67c111d28f652","type":"http request","z":"7c72b9dbeb8a3a1c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://wa-api-mega.herokuapp.com/sendText","tls":"","persist":false,"proxy":"","authType":"","x":1810,"y":1560,"wires":[[]]},{"id":"f2cd4fc3c60857f0","type":"function","z":"7c72b9dbeb8a3a1c","name":"","func":"\n//var chatId = msg.payload.chatId || (originalMessage && originalMessage.chat.id);\n//console.log('last',msg)\n\nvar teste = {};\n//var chatId = msg.payload.chatId;\n//var userId = msg.payload.from;\n// var content = msg.payload.content;\nteste.chat = msg.chat;\n// content.userId = userId;\n// teste.content = content;\n//teste.userId = userId;\nteste.headers = {\n\"Accept\":\"*\",\n\"Content-Type\": \"application/json\"\n}\n\nif(msg.payload != undefined && msg.payload.chatId != undefined){\n    teste.payload = {\n    args: {\n    //\"to\": msg.payload.from,\n     \"to\": msg.payload.chatId,\n    \"content\": \"legal vc escolheu residencial, deixa eu ver alguma oferta\"\n  }\n}\nteste.originalMessage = msg.originalMessage;\n\n\nreturn teste; \n\n}\n\n//teste.payload.content = msg.originalMessage.payload;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":1820,"wires":[["8e7372392956b215"]]},{"id":"8e7372392956b215","type":"http request","z":"7c72b9dbeb8a3a1c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://wa-api-mega.herokuapp.com/sendText","tls":"","persist":false,"proxy":"","authType":"","x":1810,"y":1960,"wires":[[]]},{"id":"6eb956a3229a6466","type":"function","z":"7c72b9dbeb8a3a1c","name":"","func":"\n//var chatId = msg.payload.chatId || (originalMessage && originalMessage.chat.id);\n//console.log('last',msg)\n\nvar teste = {};\n//var chatId = msg.payload.chatId;\n//var userId = msg.payload.from;\n// var content = msg.payload.content;\nteste.chat = msg.chat;\n// content.userId = userId;\n// teste.content = content;\n//teste.userId = userId;\nteste.headers = {\n\"Accept\":\"*\",\n\"Content-Type\": \"application/json\"\n}\n\nif(msg.payload != undefined && msg.payload.chatId != undefined){\n    teste.payload = {\n    args: {\n    //\"to\": msg.payload.from,\n     \"to\": msg.payload.chatId,\n    \"content\": \"opcao invalida\"\n  }\n}\nteste.originalMessage = msg.originalMessage;\n\n\nreturn teste; \n\n}\n\n//teste.payload.content = msg.originalMessage.payload;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1300,"y":1820,"wires":[["e917d149444bf243"]]},{"id":"e917d149444bf243","type":"http request","z":"7c72b9dbeb8a3a1c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://wa-api-mega.herokuapp.com/sendText","tls":"","persist":false,"proxy":"","authType":"","x":1310,"y":1900,"wires":[["2c7b917c557aa9b2"]]},{"id":"ae55654a09c6dc85","type":"change","z":"7c72b9dbeb8a3a1c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"originalMessage","tot":"msg"},{"t":"delete","p":"req","pt":"msg"},{"t":"delete","p":"res","pt":"msg"},{"t":"delete","p":"payload.req","pt":"msg"},{"t":"delete","p":"payload.res","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1600,"wires":[["2b3f9e0aee0e1fc6"]]},{"id":"87c953d42af7f8d4","type":"comment","z":"7c72b9dbeb8a3a1c","name":"solicita exibe menu","info":"","x":1310,"y":1400,"wires":[]},{"id":"a8766a5c3a5f8a7a","type":"comment","z":"7c72b9dbeb8a3a1c","name":"solicita exibe menu","info":"","x":750,"y":1000,"wires":[]},{"id":"742801de9570f937","type":"switch","z":"7c72b9dbeb8a3a1c","name":"","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"onMessage","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":940,"wires":[["d85b1ca9e7369639","7210418bac4aada3"]]},{"id":"d85b1ca9e7369639","type":"change","z":"7c72b9dbeb8a3a1c","name":"","rules":[{"t":"delete","p":"req","pt":"msg"},{"t":"delete","p":"res","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":1020,"wires":[["8bbc4ac4a67e2ef0","32af69416514e5f6"]]},{"id":"32af69416514e5f6","type":"debug","z":"7c72b9dbeb8a3a1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":960,"wires":[]},{"id":"7210418bac4aada3","type":"debug","z":"7c72b9dbeb8a3a1c","name":"oooo","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":520,"y":920,"wires":[]},{"id":"d690696a9cdeee30","type":"chatbot-universal-node","botname":"teste","usernames":"","connectorParams":"","store":"65c102aef93c9963","log":"","debug":true},{"id":"65c102aef93c9963","type":"chatbot-context-store","name":"context","contextStorage":"memory","contextParams":""}]
